.App {
  text-align: center;
  color: #E3E3E3; /* Lighter color for better contrast */
  background-color: #252839; /* Darkened purple */
}

.App-header {
  background-color: #6772A4; /* Softened purple */
  padding: 20px;
  font-family: 'Roobert', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  color: #333;
  background-color: #E3E3E3;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #C2A2FF;
  color: #333; /* Dark color for better contrast */
  cursor: pointer;
}

.user-data {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #B3B3B3; /* Gray border */
  border-radius: 8px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #434857; /* Darkened blue */
}


.user-data {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #B3B3B3; /* Gray border */
  border-radius: 8px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #434857; /* Darkened blue */
}


.info-container {
  display: flex;
  justify-content: space-between;
}

button.clear {
  background-color: #ff3333; /* Bright red color for clear button */
  margin-left: 10px;
}


button.clear:hover {
  background-color: #ff4d4d; /* Lighter red on hover */
}


.community-data {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #B3B3B3; /* Gray border */
  border-radius: 8px;
  max-width: 400px;
  margin-left: auto;
  text-align: left;
  background-color: #434857; /* Darkened blue */
  color: #C2A2FF; /* Lightened purple for better readability */
}


.community-data h2 {
  color: #E3E3E3; /* Lighter shade of white */
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.community-data table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem; /* Adjust the font size as needed */
}

.community-data th,
.community-data td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #B3B3B3; /* Gray border */
  word-break: break-word; /* Breaks long words to prevent overflow */
}

.community-data td {
  color: #C2A2FF; /* Lightened purple for better readability */
}

.error {
  color: #ff3333; /* Bright red for better visibility */
  margin-top: 10px;
}

.recommendations {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #B3B3B3; /* Gray border */
  border-radius: 8px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #434857; /* Darkened blue */
  color: #C2A2FF; /* Lightened purple for better readability */
}

.recommendations h2 {
  color: #E3E3E3; /* Lighter color for better contrast */
  margin-bottom: 10px;
  font-size: 1.2rem; /* Slightly larger font size for the heading */
}

.recommendations table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem; /* Slightly smaller font size for the table content */
  margin-top: 10px; /* Add spacing between table and heading */
}

.recommendations th,
.recommendations td {
  text-align: left;
  padding: 12px; /* Increase padding for better spacing */
  border-bottom: 1px solid #B3B3B3; /* Gray border */
  word-break: break-word; /* Breaks long words to prevent overflow */
}

.recommendations td {
  color: #C2A2FF; /* Lightened purple for better readability */
}

