.App {
  text-align: center;
  color: white;
  background-color: #6441a5; /* Twitch's primary color */
}

.App-header {
  background-color: #9146ff;
  padding: 20px;
  font-family: 'Roobert', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #772ce8;
  color: white;
  cursor: pointer;
}

.user-data {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #fff; /* White border */
  border-radius: 8px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.user-data p {
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.5;
}

button.clear {
  background-color: #e44d4d; /* Red color for clear button */
  margin-left: 10px;
}

button.clear:hover {
  background-color: #f76c6c; /* Lighter red on hover */
}


.community-data {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #fff; /* White border */
  border-radius: 8px;
  max-width: 400px; /* Increased width for better visibility */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background for readability */
}

.community-data h2 {
  color: #dcdcdc; /* Lighter shade of purple */
  margin-bottom: 10px;
  font-size: 1.2rem; /* Slightly larger font size for the heading */
}

.community-data table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem; /* Adjust the font size as needed */
}

.community-data th,
.community-data td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #fff;
  word-break: break-word; /* Breaks long words to prevent overflow */
}

.community-data td {
  color: #dcdcdc; /* Light grey color for better readability */
}

.error {
  color: #ff0000;
  margin-top: 10px;
}

.recommendations {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #fff; /* White border */
  border-radius: 8px;
  max-width: 800px; /* Increased width for better visibility */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background for readability */
}

.recommendations h2 {
  color: #dcdcdc; /* Lighter shade of purple */
  margin-bottom: 10px;
  font-size: 1.2rem; /* Slightly larger font size for the heading */
}

.recommendations table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem; /* Slightly smaller font size for the table content */
  margin-top: 10px; /* Add spacing between table and heading */
}

.recommendations th,
.recommendations td {
  text-align: left;
  padding: 12px; /* Increase padding for better spacing */
  border-bottom: 1px solid #fff;
  word-break: break-word; /* Breaks long words to prevent overflow */
}

.recommendations td {
  color: #dcdcdc; /* Light grey color for better readability */
}

